<!DOCTYPE html>
<html>

<head>
    <title>Chatbot</title>
    <script type="text/javascript" src="main.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div id="header">
        <h1>Chat Bot</h1>
    </div>

    <div id="container"></div>

    <div id="controls">
        <input type="text" id="input" placeholder="Enter Your Message Here...." autocomplete="off"></textarea>
        <!-- <button id="send">Send</button> -->
        <br><br><br>
        <input checked type="checkbox" id="enter">
        <label> Message sends On Enter </label>
        </input>
    </div>
</body>

</html>